/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Normalize*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*Section-Header*/
.font_default_header {
    font-family: 'Bebas Neue', cursive;
    font-size: 27px;
    color: whitesmoke;
}

.font_default_a_header {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

/*Section-Footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: black;
}

/*Section-Texts*/
.font_title {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.8em;
}

.font_title_home {
    font-family: 'Bebas Neue', cursive;
    color: whitesmoke;
    font-size: 4em;
    margin-bottom: 0px;
}

.font_default {
    font-family: 'Bebas Neue', cursive;
}

.font_default_black {
    font-family: 'Bebas Neue', cursive;
    color: #343a40;
}
/*Section HomePage*/
.bg_img {
    background-image: url("../imgs/banner-baskalarte.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.bg_img_user_list {
    background-image: url("../imgs/banner-baskalarte.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
}


/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/
