/*Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Normalize*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}

/*Section-Header*/
.font_default_header {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: whitesmoke;
}
.font_default_a_header {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

/*Section-Footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: black;
}

/*Section-Texts*/
.font_title {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.8em;
}
.font_title_home {
    font-family: 'Bebas Neue', cursive;
    color: whitesmoke;
    font-size: 4em;
    margin-bottom: 0px;
}
.font_default_black {
    font-family: 'Bebas Neue', cursive;
    color: #343a40;
}
.font_default_score_black {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: #343a40;
}

/*Section HomePage*/
.bg_img {
    background-image: url("../imgs/banner-baskalarte.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}