@{
    ViewData["Title"] = "Warriors of Intelligence - Error";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<section class="row justify-content-center">

    <div class="col-sm-12 text-center mt-5">

        <img src="http://i.stack.imgur.com/SBv4T.gif" alt="this slowpoke moves" width="250" />

        <h1 class="display-4">Oops!</h1>

        <p>return to the home page <a asp-controller="Home" asp-action="Index">click here</a>.</p>

    </div>

</section>